@page "/"
@using AvtoService.Components.Layout

<PageTitle>Главная</PageTitle>

<section class="firstsection">
</section>

<div class="glavdiv">
    <div class="sectionwkart">
        <img src="../img/moika.jpg" alt="moika" class="moikaimg">
        <h1 class="priceh1">Автосалон Даниса</h1>
    </div>
</div>

<h1 class="h1price">Наши цены выгодны вашему карману</h1>

<div class="pricingplans">
    <div class="plan">
        <div class="leftplan">
            <div class="buy">
                <div class="dollar">
                    <h2 class="priceh2">Полировка + Химчистка салона</h2>
                    <h1 class="blueprice">8000 ₽</h1>
                </div>
                <div class="sknopkoi">
                    <p class="peredknopkoi">Чистка ковров и сидений</p>
                    <p class="peredknopkoi">Полировка кузова</p>
                    <p class="peredknopkoi">Обработка пластика и кожи</p>
                    <button class="buybutton">ЗАКАЗАТЬ</button>
                </div>
            </div>

            <div class="buy">
                <div class="dollar">
                    <h2 class="priceh2">Стандартное ТО</h2>
                    <h1 class="blueprice">15 000 ₽</h1>
                </div>
                <div class="sknopkoi">
                    <p class="peredknopkoi">Замена масла и фильтров</p>
                    <p class="peredknopkoi">Диагностика ходовой части</p>
                    <p class="peredknopkoi">Проверка электроники</p>
                    <button class="buybutton">ЗАКАЗАТЬ</button>
                </div>
            </div>

            <div class="buy">
                <div class="dollar">
                    <h2 class="priceh2">Премиум-пакет</h2>
                    <h1 class="blueprice">25 000 ₽</h1>
                </div>
                <div class="sknopkoi">
                    <p class="peredknopkoi">Полная диагностика авто</p>
                    <p class="peredknopkoi">Химчистка и полировка</p>
                    <p class="peredknopkoi">Замена расходников</p>
                    <button class="buybutton">ЗАКАЗАТЬ</button>
                </div>
            </div>
        </div>
        <div class="moet">
            <img src="../img/yzhemoet.jpg" alt="о нет" class="moetjpg" />
            <h1 class="zvonit">Позвонить нам</h1>
            <div class="nomertel">
                <img src="../img/telicon.png" alt="о нет" />
                <h1>+7 888 888 88 88</h1>
            </div>
        </div>
    </div>
</div>


<div class="allcont">
    <div class="forcard">
        <div class="cardd">
            <h2 class="zagincont">Позвонить нам</h2>
            <div class="stolb">
                <p class="numbb">8-800-10-500</p>
                <p class="numbb">8-800-10-500</p>
            </div>
        </div>

        <div class="cardd">
            <h2 class="zagincont">Позвонить нам</h2>
            <div class="stolb">
                <p class="numbb">8-800-10-500</p>
                <p class="numbb">8-800-10-500</p>
            </div>
        </div>

        <div class="cardd">
            <h2 class="zagincont">Позвонить нам</h2>
            <div class="stolb">
                <p class="numbb">8-800-10-500</p>
                <p class="numbb">8-800-10-500</p>
            </div>
        </div>
    </div>
</div>

<ContForm />

