@page "/prices"
@using AvtoService.Components.Layout

<h1 class="h1fromseconddiv2">Наши цены</h1>

<div class="forblokcs">
    <div class="blocks">
        <div class="block">
            <h1 class="zafinblock">Замена масла</h1>
            <h1 class="price">от 1500₽</h1>
        </div>

        <div class="block">
            <h1 class="zafinblock">Замена тормозных колодок</h1>
            <h1 class="price">от 3000₽</h1>
        </div>

        <div class="block">
            <h1 class="zafinblock">Диагностика двигателя</h1>
            <h1 class="price">от 2000₽</h1>
        </div>

        <div class="block">
            <h1 class="zafinblock">Замена аккумулятора</h1>
            <h1 class="price">от 2500₽</h1>
        </div>

        <div class="block">
            <h1 class="zafinblock">Шиномонтаж</h1>
            <h1 class="price">от 1000₽</h1>
        </div>

        <div class="block">
            <h1 class="zafinblock">Полировка кузова</h1>
            <h1 class="price">от 5000₽</h1>
        </div>

        <div class="block">
            <h1 class="zafinblock">Ремонт подвески</h1>
            <h1 class="price">от 4000₽</h1>
        </div>

        <div class="block">
            <h1 class="zafinblock">Замена свечей зажигания</h1>
            <h1 class="price">от 1200₽</h1>
        </div>

        <div class="block">
            <h1 class="zafinblock">Чистка кондиционера</h1>
            <h1 class="price">от 3500₽</h1>
        </div>

        <div class="block">
            <h1 class="zafinblock">Замена фильтров</h1>
            <h1 class="price">от 800₽</h1>
        </div>

        <div class="block">
            <h1 class="zafinblock">Ремонт тормозной системы</h1>
            <h1 class="price">от 6000₽</h1>
        </div>

        <div class="block">
            <h1 class="zafinblock">Покраска деталей</h1>
            <h1 class="price">от 7000₽</h1>
        </div>
    </div>
</div>
<ContForm />

@code {

}