@page "/users"
@using AvtoService.Data.Models
@inject HttpClient Http
@rendermode InteractiveServer

<h1 class="h1fromseconddiv2">Список пользователей</h1>

<div class="forblokcs">
    <div class="blocks">
        @if (users == null)
        {
            <p>Загрузка данных...</p>
        }
        else
        {
            @foreach (var user in users)
            {
                <div class="block">
                    <div class="user-info">
                        <div class="label">Ник</div>
                        <h1 class="zafinblock">@user.Login</h1>
                    </div>
                    <div class="user-info">
                        <div class="label">Роль</div>
                        <h1 class="zafinblock">@user.Role</h1>
                    </div>
                    <button class="delete-button" @onclick="() => DeleteUser(user.Id)">Удалить</button>
                </div>
            }
        }
    </div>
</div>

@code {
    private List<User> users;

    protected override async Task OnInitializedAsync()
    {
        await LoadUsers();
    }

    private async Task LoadUsers()
    {
        try
        {
            var baseAddress = "https://localhost:7292/";
            var requestUri = $"{baseAddress}api/Users";
            users = await Http.GetFromJsonAsync<List<User>>(requestUri);
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Ошибка при загрузке данных: {ex.Message}");
        }
    }

    private async Task DeleteUser(int id)
    {
        try
        {
            var baseAddress = "https://localhost:7292/";
            var requestUri = $"{baseAddress}api/Users/{id}";
            var response = await Http.DeleteAsync(requestUri);

            if (response.IsSuccessStatusCode)
            {
                await LoadUsers(); // Перезагружаем список пользователей после удаления
            }
            else
            {
                Console.WriteLine("Ошибка при удалении пользователя.");
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Ошибка при удалении пользователя: {ex.Message}");
        }
    }
}