<footer>
    <div class="footer-container">
        <div class="footer-section">
            <h3>О нас</h3>
            <p>Мы предлагаем лучшие решения для вашего бизнеса. Наши услуги помогут вам достичь новых высот.</p>
        </div>
        <div class="footer-section">
            <h3>Быстрые ссылки</h3>
            <ul>
                <li><a href="#">Главная</a></li>
                <li><a href="#">Цены</a></li>
                <li><a href="choose-service">Услуги</a></li>
                <li><a href="#">О нас</a></li>
                <li><a href="#">Работники</a></li>
                <li><a href="faq">FAQ</a></li>
            </ul>
        </div>
        <div class="footer-section">
            <h3>Контакты</h3>
            <p>Email: info@example.com</p>
            <p>Телефон: +7 (123) 456-78-90</p>
            <div class="social-icons">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-linkedin-in"></i></a>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <p>&copy; 2023 Все права защищены. <a href="#">Политика конфиденциальности</a></p>
    </div>
</footer>
@code {

}
