<header>
    <img src="../img/mashina.png" alt="car" class="carlogo">
    <nav>
        <a href="/" class="ssilka">О нас</a>
        <a href="choose-service" class="ssilka">Выбрать услугу</a>
        <a href="prices" class="ssilka">Цены</a>
        <a href="faq" class="ssilka">FAQ</a>
    </nav>
</header>

@code {

}
