<header>
    <img src="../img/mashina.png" alt="car" class="carlogo">
    <nav>
        <a href="/" class="ssilka">О нас</a>
        <a href="confirm" class="ssilka">Подтвердить</a>
        <a href="users" class="ssilka">Пользователи</a>
    </nav>
</header>

@code {

}

